.Home {
  text-align: center;
}

.Home-logo {
  height: 80px;
}

.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-intro {
  font-size: large;
}

.Home-resources {
  list-style: none;
}

.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}
